$breakpoint-xs: 425px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-large: 1024px;
$breakpoint-xl: 1366px;

@mixin media-breakpoint-up($breakpoint) {
  @if ($breakpoint == xs) {
    @media only screen and (min-width: $breakpoint-xs) {
      @content;
    }
  } @else if ($breakpoint == sm) {
    @media only screen and (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if ($breakpoint == md) {
    @media only screen and (min-width: $breakpoint-md) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media only screen and (min-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xl) {
    @media only screen and (min-width: $breakpoint-xl) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}



